# default to using syslog. /etc/rsyslog.d/45-frr.conf places the log
# in /var/log/frr/frr.log
frr defaults traditional
log syslog informational
service integrated-vtysh-config
!
router bgp {{ bgp_asn }}
  bgp router-id {{ ansible_ens3.ipv4.address }}
  bgp bestpath as-path multipath-relax
  bgp bestpath compare-routerid
  neighbor V4 peer-group
  neighbor V4 remote-as {{ bgp_asn }}
  {% for peer in bgp_peers %}
{{ "neighbor " + hostvars[peer].ansible_ens3.ipv4.address + " peer-group V4" | indent(2, true) }}
  {% endfor %}
!
address-family ipv4 unicast
  neighbor V4 activate
  neighbor V4 route-server-client
  # Filter imports & exports via route-map first
  neighbor V4 route-map IMPORT in
  neighbor V4 route-map EXPORT out
  neighbor V4 route-map IMPORT import
  neighbor V4 route-map EXPORT export
  neighbor V4 soft-reconfiguration inbound
exit-address-family
!
ip prefix-list pl-allowed-adv seq 5 permit {{ external_ip_range }} le 32
ip prefix-list pl-allowed-adv seq 50 deny any
!
route-map IMPORT permit 10
  match ip address prefix-list pl-allowed-adv
  set metric 100
!
route-map EXPORT deny 1