---
apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-cloud-controller-manager-config
  namespace: kube-system
  labels:
    k8s-app: aws-cloud-controller-manager
data:
  cloud-config.conf: |
    [Global]
    NodeIPFamilies = ipv4
{% if ipv6_enabled is defined %}
    NodeIPFamilies = ipv6
{% endif %}
